﻿<!Doctype html>
<html ng-app="calendarApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AngularJS Calendar</title>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
</head>

<body ng-controller="mainController">
    <div class="row" ng-class="backdrop">
        <div class="col-md-2 events">
            <div class="row header col-md-13 grad">
                <h1>Events</h1>
            </div>
            <div class="row col-md-13 all-events shadow" ng-controller="eventListController">
                <h5 ng-repeat="e in getAllEvents() track by $index">{{date | date:'MM/dd/yyyy'}} {{e.time}} <br /> <b>{{e.name}}</b></h5>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <div class="row calendar">
                <h1 id="title">Angular<span>JS</span> Calendar</h1>
                <div id="upperButtons">
                    <button id="prevMonthButton" class="button" data-role="button" ng-click="setCurrentMonth(-1)"><sup>&lsaquo;</sup></button>
                    <button id="nextMonthButton" class="button" data-role="button" ng-click="setCurrentMonth(1)"><sup>&rsaquo;</sup></button>
                </div>
                <div class="col-xs-12 border shadow">
                    <div id="calendar-header" class="row grad">
                        <h1 ng-controller="headerController">{{date | date:'MMMM yyyy'}}</h1>
                    </div>
                    <div class="row week-days">
                        <div class="col-xs-1 week-day">Sunday</div>
                        <div class="col-xs-1 week-day">Monday</div>
                        <div class="col-xs-1 week-day">Tuesday</div>
                        <div class="col-xs-1 week-day">Wednesday</div>
                        <div class="col-xs-1 week-day">Thursday</div>
                        <div class="col-xs-1 week-day">Friday</div>
                        <div class="col-xs-1 week-day">Saturday</div>
                    </div>
                    <div ng-controller="bodyController" class="body">
                        <div class='row week' ng-repeat="w in getWeeks() track by $index">
                            <div class='col-xs-1 day' ng-click="showModal(true, false)" ng-repeat="d in getDays() track by $index" ng-init="dayIndex = $index" ng-class="(isOtherMonthDays($index)) ? 'other-month-days' : ''">
                                <h6>{{d}}</h6>
                                <div class='label label-default' ng-click="showModal(true, true);$event.stopPropagation()" ng-repeat="e in getEvents(dayIndex) track by $index" ng-init="eventIndex = $index"> {{e.time}} {{e.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal" ng-show="modalAppear" ng-controller="modalController">
        <div class="row panel">
            <div class="panel-heading">
                <button class="btn pull-right deleteBtn" ng-show="eventEdit" ng-click="showModal(false, false); deleteEvent()">Delete</button>
                <h3>{{eventHeader}}</h3>
            </div>
            <div class="col-md-12 panel-body">
                <form name="myForm" method="post" novalidate>
                    <div class="form-group">
                        <label id="event-time" for="name">Select Time:</label>
                        <input type="time" class="form-control time-picker" ng-model="eventTime" required />
                    </div>
                    <div class="form-group">
                        <label id="event-name" for="name">Event Name</label>
                        <input type="text" class="form-control" id="name" ng-model="eventName" placeholder="Enter event..." required>
                    </div>
                    <button class="btn cancel" ng-click="showModal(false, false)">Cancel</button>
                    <button class="btn btn-primary pull-right saveBtn" ng-click="showModal(false, false); saveEvent(eventName, eventTime)">Save</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
